---
import { ACTION_QUERY_PARAMS } from 'astro:actions';
import Layout from '../layouts/BlogPost.astro';
---

<Layout title="Greenland 2026" description="Plans and overview for our Greenland 2026 trip" pubDate={new Date('June 20 2026')}>
  <p>
    July 10th - not long now! This trip has been a long time in the making, and we are excited to be on the final stretch to 
    our departure. We are writing this in midst of a month-long boatyard frenzy, getting Kingfisher ready for the expedition.
    In three weeks we will be setting sail west from Ullapool aiming for the Skjoldungen Fjord in Greenland.
  </p>

  <h2>Graah's Havn</h2>
  <p>
    Six 
  </p>


</Layout>
