---
import { ACTION_QUERY_PARAMS } from 'astro:actions';
import Layout from '../layouts/BlogPost.astro';
---

<Layout title="Greenland 2026" description="Plans and overview for our Greenland 2026 trip" pubDate={new Date('June 20 2026')}>
  <p>
    Three weeks to go! This trip has been a long time in the making, and we are full of nervous anticipation to be on the final stretch to 
    departure. We write this in the midst of a month-long boatyard frenzy at the Johnson and Loftus boatyard - a few members of the crew have recently
    graduated and now Kingfisher is getting the spotlight treatment. Thoughts and discussion of Kingfisher consume
    most waking moments, but we are incredibly excited that everything is coming together. If the following weeks go well we are on track to 
    leave Ullapool for Graah's Havn on the East Coast of Greenland on July 10th. Hopefully climbing new routes on unclimbed mountains when we get there.
  </p>

  <h2>Plan Overview</h2>
  <p>
    A high-level overview of our trip is as follows:
  </p>
  <ul>
    <li>Set sail from Ullapool for Reykjavik on July 10th. We estimate this leg will take about week.</li>
    <li>Pick up our sixth crew member Gabby in Iceland and confirm the state of ice-flow in the Denmark straight. We are leaving this side
      of daylight savings to give us best chance of safe passage between Iceland and Greenland.
    </li>
    <li>Continue west from Reykjavik to Tasiilaq. This will likely take another week</li>
    <li>Pick up a rifle is Tasiilaq and make any final preparations in civilisation - Hopefully we won't need to use this.
    </li>
    <li>Turn south to Graah's Havn, just north of the better known Skjoldungen Fjord. We estimate another few days here. 
    </li>
    <li> Get gifted an incredible two week weather window allowing us maximum time to explore the rock around Graah's Havn, 
      put up new routes on unclimbed mountains, and prepare to be knighted for our efforts.</li>
    <li> Reverse the journey back to Tasiilaq, Reykjavik, and finally Ullapool. A total of 2.5-3 weeks sail but given Iceland's 
      reputation for depressions, we would like to begin our return sooner rather than later. 
    </li>
  </ul>
    <p>
    If all goes well this should get us back to Ullapool by the end of August. Of course nothing will be this simple and we expect to 
    be battling the weather, but that is where all the fun lies. 
  </p>
  <h2>Crew</h2>
  <p>

  There will be six members onboard Kingfisher: 
  </p>
  <ul>
    <li>Meg Loftus (Skipper)</li>
    <li>Lara Novak</li>
    <li>Will Jones</li>
    <li>Charlie Banford</li>
    <li>Bella Southall</li>
    <li>Gabby Krawzyck</li>
  </ul>
  <p>
    Since Kingfisher has no autohelm this gives us plenty of crew to man watches with two people on deck at all times. 
    It also means Bella and Gabby can look after the KF while the rest of us are climbing. We will work on a rolling watch system with 2 on 3 off, but this is subject to conditions. 
  </p>

  <h3> Climbing in Graah's Havn</h3>
  <p> 
    
  </p>

</Layout>
